.navbar-main {
    position: fixed;
    top: 5px;
    z-index: 1000; /* Ensures the navbar stays on top of other elements */
}

.main-content {
    margin-top: 10px; /* Adjust this value based on the height of your navbar */
}