.top-0 {
    top: 0 !important;
}

.top-1 {
    top: 1% !important;
}

.top-2 {
    top: 2% !important;
}

.top-3 {
    top: 3% !important;
}

.top-4 {
    top: 4% !important;
}

.top-5 {
    top: 5% !important;
}

.top-6 {
    top: 6% !important;
}

.top-7 {
    top: 7% !important;
}

.top-8 {
    top: 8% !important;
}

.top-9 {
    top: 9% !important;
}

.top-10 {
    top: 10% !important;
}

.top-50 {
    top: 50% !important;
}

.top-100 {
    top: 100% !important;
}

.z-index-0 {
    z-index: 0 !important;
}
  
.z-index-1 {
    z-index: 1 !important;
}
  
.z-index-2 {
    z-index: 2 !important;
}
  
.z-index-3 {
    z-index: 3 !important;
}

.ms-lg-0 {
    margin-left: 0 !important;
}

.font-weight-light {
    font-weight: 300 !important;
}
  
.font-weight-lighter {
    font-weight: lighter !important;
}
  
.font-weight-normal {
    font-weight: 400 !important;
}
  
.font-weight-bold {
    font-weight: 600 !important;
}
  
.font-weight-bolder {
    font-weight: 700 !important;
}
  
.font-italic {
    font-style: italic !important;
}

.container {
    z-index: 1;
}

.container,
.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container {
        max-width: 80%;
    }
}

.navbar {
    --bs-navbar-padding-x: 1rem;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: #344767;
    --bs-navbar-hover-color: rgba(52, 71, 103, 0.7);
    --bs-navbar-disabled-color: rgba(52, 71, 103, 0.3);
    --bs-navbar-active-color: rgba(52, 71, 103, 0.9);
    --bs-navbar-brand-padding-y: 0.59375rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 0.875rem;
    --bs-navbar-brand-color: rgba(52, 71, 103, 0.9);
    --bs-navbar-brand-hover-color: rgba(52, 71, 103, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.125rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23344767' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(52, 71, 103, 0.1);
    --bs-navbar-toggler-border-radius: 0.5rem;
    --bs-navbar-toggler-focus-width: 0.2rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}
  
.navbar .navbar-brand {
    color: #344767;
}
  
.navbar .nav-link {
    color: #344767;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.navbar .sidenav-toggler-inner {
    width: 18px;
}
  
.navbar .sidenav-toggler-inner .sidenav-toggler-line {
    transition: all 0.15s ease;
    background: #67748e;
    border-radius: 0.125rem;
    position: relative;
    display: block;
    height: 2px;
}
  
.navbar .sidenav-toggler-inner .sidenav-toggler-line:not(:last-child) {
    margin-bottom: 3px;
}
  
.g-sidenav-show.g-sidenav-pinned .navbar .sidenav-toggler-inner .sidenav-toggler-line:first-child,
.g-sidenav-show.g-sidenav-pinned .navbar .sidenav-toggler-inner .sidenav-toggler-line:last-child {
    width: 13px;
    transform: translateX(5px);
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-sm,
.navbar>.container-md,
.navbar>.container-lg,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.8) !important;
}
  
.blur.saturation-less {
    -webkit-backdrop-filter: saturate(20%) blur(30px);
    backdrop-filter: saturate(20%) blur(30px);
}
  
.blur.blur-rounded {
    border-radius: 40px;
}
  
.blur.blur-light {
    background-color: rgba(255, 255, 255, 0.4);
}
  
.blur.blur-dark {
    background-color: rgba(0, 0, 0, 0.3);
}
  
.shadow-blur {
    box-shadow: inset 0 0px 1px 1px rgba(254, 254, 254, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}
  
.shadow-card {
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}
  
.navbar-blur {
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: rgba(255, 255, 255, 0.58) !important;
}
  
.blur-section {
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
}
  
.blur-section.blur-gradient-primary {
    background-image: linear-gradient(310deg, rgba(121, 40, 202, 0.95) 0%, rgba(255, 0, 128, 0.95) 100%);
}

.navbar-vertical.blur .navbar-nav>.nav-item .nav-link {
    background-color: transparent;
    box-shadow: none;
}

.position-sticky {
    position: sticky !important;
}

.z-index-sticky {
    z-index: 1020;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
  
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
  
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
  
    .navbar-expand-lg .navbar-nav-scroll {
        overflow: visible;
    }
  
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
  
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
  
    .navbar-expand-lg .offcanvas {
        position: static;
        z-index: auto;
        flex-grow: 1;
        width: auto !important;
        height: auto !important;
        visibility: visible !important;
        background-color: transparent !important;
        border: 0 !important;
        transform: none !important;
        transition: none;
    }
  
    .navbar-expand-lg .offcanvas .offcanvas-header {
        display: none;
    }
  
    .navbar-expand-lg .offcanvas .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
    }
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 15.625rem !important;
        overflow-y: auto;
        padding: 0;
        box-shadow: none;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 360px);
    }
  
    .navbar-vertical.navbar-expand-lg>[class*="container"] {
        flex-direction: column;
        align-items: stretch;
        min-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
} 
  
@media all and (min-width: 992px) and (-ms-high-contrast: none),
    (min-width: 992px) and (-ms-high-contrast: active) {
        .navbar-vertical.navbar-expand-lg>[class*="container"] {
        min-height: none;
        height: 100%;
        }
    }
  
@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg.fixed-start {
        left: 0;
    }
  
    .navbar-vertical.navbar-expand-lg.fixed-end {
        right: 0;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 0.675rem;
        padding-bottom: 0.675rem;
        margin: 0 1rem;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .nav-link-text,
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .sidenav-mini-icon,
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link .sidenav-normal,
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-link i {
        pointer-events: none;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav-item {
        width: 100%;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item {
        margin-top: 0.125rem;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item .icon .ni {
        top: 0;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item>.nav-link .icon svg .color-background {
        fill: #3A416F;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav>.nav-item>.nav-link .icon svg .color-foreground {
        fill: #141727;
    }
  
    .navbar-vertical.navbar-expand-lg .lavalamp-object {
        width: calc(100% - 1rem) !important;
        background: theme-color("primary");
        color: color-yiq(#cb0c9f);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.25rem;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link {
        padding-top: 0.417rem;
        padding-bottom: 0.417rem;
        padding-left: 15px;
    }
  
    .navbar-vertical.navbar-expand-lg .navbar-nav .nav .nav-link>span.sidenav-normal {
        transition: all 0.1s ease 0s;
    }
}

@media (max-width: 991.98px) { 
    .navbar.blur {
        transform: perspective(999px) rotateX(0deg) translateZ(0) translate3d(0, 0px, 5px) !important;
        box-shadow: none;
        margin-bottom: 1rem;
    }
}

.btn-dark:hover,
.btn.bg-gradient-dark:hover {
    background-color: #344767;
    border-color: #344767;
}

.btn-dark .btn.bg-outline-dark,
.btn.bg-gradient-dark .btn.bg-outline-dark {
    border: 1px solid #344767;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle,
.btn.bg-gradient-dark:not(:disabled):not(.disabled).active,
.btn.bg-gradient-dark:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-dark.dropdown-toggle {
    color: color-yiq(#344767);
    background-color: #344767;
}

.btn-dark.focus,
.btn-dark:focus,
.btn.bg-gradient-dark.focus,
.btn.bg-gradient-dark:focus {
    color: #fff;
}

.btn-dark,
.btn.bg-gradient-dark {
    color: #fff;
}

.btn-dark:hover,
.btn.bg-gradient-dark:hover {
    color: #fff;
}

.bg-gradient-dark {
    background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%);
}

.btn.btn-round {
    border-radius: 1.875rem;
}

.btn.btn-rounded {
    border-radius: 1.875rem;
}