.projects-container {
    width: 90%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-items: center;
    margin-top: 50px;
    margin-left: 5%;
    overflow-x: auto;
    overflow-y: auto;
}

.table {
    width: 100%;
}

.footer-card {
    align-self: baseline;
}